* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
}

:root{
  --lavender-web: hsla(221, 49%, 85%, 1);
  --powder-blue: hsla(215, 46%, 71%, 1);
  --paynes-gray: hsla(200, 19%, 44%, 1);
  --feldgrau: hsla(161, 23%, 29%, 1);
  --dark-green: hsla(98, 36%, 14%, 1);
}

@font-face {
  font-family: 'robotoregular';
  src: url('roboto-regular-webfont.woff2') format('woff2'),
        url('roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  min-height: 100vh;
  font-family: 'robotoregular', 'Arial', sans-serif;

  display: grid;
  grid-template-columns: 1fr minmax(175px, 15vw);
  grid-template-rows: 10vh 90vh 1fr;

  background-color: var(--paynes-gray);
}

body header{
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;

  background-color: var(--dark-green);
  color: var(--lavender-web);
}

header .title{
  font-size: 2.5rem;
  letter-spacing: .1rem;
}

header button{
  border-radius: 1rem;
  border: none;
  background-color: var(--powder-blue);
  padding: 12px;
}

header > button:hover{
  background-color: var(--paynes-gray);
  cursor: pointer;
}

body .sidebar{
  grid-column: 2 / 3;
  grid-row: 1 / 3;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 12px;

  background-color: var(--feldgrau);
  color: var(--lavender-web);
  box-shadow: -5px 7px 5px 0px rgba(0,0,0,0.75);
}

body .sidebar-secondary{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  
  background-color: var(--feldgrau);
  box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
}

.statistics-list li{
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.sidebar li{
  list-style-type: none;
}

body .main-content{
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.main-content .book-container{
  padding: 24px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 12px;
}

.book-container .book-card{
  min-height: 25vh;
  padding: 12px;
  border-left: var(--dark-green) 4px solid;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  background-color: var(--lavender-web);
  color: var(--dark-green);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.book-card h1{
  font-size: 2rem;
  font-weight: 600;
  text-wrap: balance;
  word-break: break-all;
}

.book-card .button-footer{
  display: flex;
  gap: 8px;
}

.button-footer > *{
  flex-grow: 1;
  width: 50%;
  padding: 8px;

  border-radius: 1rem;
  border: none;
  background-color: var(--powder-blue);
}

.button-footer > *:hover{
  background-color: var(--paynes-gray);
  cursor: pointer;
}

form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border: 1px solid black;
  padding: 12px;
}

form .form-container{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form .input-container{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

form .input-wrapper{
  display: flex;
  gap: 4px;
}

.input-wrapper input[type='checkbox']{
  margin-left: auto;
  flex: none;
}

.input-wrapper input{
  flex: 1;
}

form .form-header-container{
  display: flex;
  justify-content: space-between;
}

.form-header-container button{
  width: 1.2rem;
}